{
  "openapi": "3.0.3",
  "info": {
    "title": "Bitcoin Stamps LEO API",
    "description": "Smart LEO (Large Enterprise Optimization) API providing structured JSON endpoints optimized for AI agent consumption while preserving cultural context and community values of the Bitcoin Stamps ecosystem",
    "version": "1.0.0",
    "contact": {
      "name": "Bitcoin Stamps Community",
      "email": "contact@bitcoinstamps.xyz",
      "url": "https://bitcoinstamps.xyz/"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    }
  },
  "servers": [
    {
      "url": "https://bitcoinstamps.xyz/api",
      "description": "Production LEO API Server"
    },
    {
      "url": "http://localhost:5173/api",
      "description": "Local Development Server"
    }
  ],
  "paths": {
    "/protocols.json": {
      "get": {
        "summary": "Get comprehensive protocol specifications",
        "description": "Returns complete Bitcoin Stamps protocol information including SRC-20, SRC-101, SRC-721, and OLGA with cultural context and economic metrics",
        "operationId": "getProtocols",
        "tags": ["Core Data"],
        "responses": {
          "200": {
            "description": "Protocol specifications with cultural context",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProtocolsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/entities.json": {
      "get": {
        "summary": "Get cultural entities and tools",
        "description": "Returns Bitcoin Stamps cultural entities including KEVIN , community icons, SDKs, and relationship mappings",
        "operationId": "getEntities",
        "tags": ["Core Data"],
        "responses": {
          "200": {
            "description": "Cultural entities with community context",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntitiesResponse"
                }
              }
            }
          }
        }
      }
    },
    "/consensus-blocks.json": {
      "get": {
        "summary": "Get consensus block milestones",
        "description": "Returns authoritative Bitcoin Stamps protocol activation blocks and consensus rules with accurate historical data",
        "operationId": "getConsensusBlocks",
        "tags": ["Consensus Data"],
        "responses": {
          "200": {
            "description": "Consensus block milestones and activation rules",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConsensusBlocksResponse"
                }
              }
            }
          }
        }
      }
    },
    "/schema.json": {
      "get": {
        "summary": "Get Schema.org structured data",
        "description": "Returns comprehensive Schema.org structured data for all Bitcoin Stamps content, optimized for search engines and AI consumption",
        "operationId": "getSchemaData", 
        "tags": ["Structured Data"],
        "responses": {
          "200": {
            "description": "Schema.org structured data for all content",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SchemaResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ProtocolsResponse": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "example": "Bitcoin Stamps Protocol Specifications"
          },
          "version": {
            "type": "string",
            "example": "1.0.0"
          },
          "protocols": {
            "type": "object",
            "properties": {
              "src20": {
                "$ref": "#/components/schemas/SRC20Protocol"
              },
              "src101": {
                "$ref": "#/components/schemas/SRC101Protocol"
              },
              "src721": {
                "$ref": "#/components/schemas/SRC721Protocol"
              },
              "olga": {
                "$ref": "#/components/schemas/OLGAProtocol"
              }
            }
          }
        }
      },
      "SRC20Protocol": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "example": "SRC-20 Token Standard"
          },
          "genesis_block": {
            "type": "integer",
            "example": 788041
          },
          "cultural_icon": {
            "type": "string",
            "example": "KEVIN "
          },
          "holders": {
            "type": "integer",
            "example": 2129
          },
          "market_cap": {
            "type": "string",
            "example": "$2B+"
          }
        }
      },
      "SRC101Protocol": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "example": "SRC-101 Naming Service"
          },
          "genesis_block": {
            "type": "integer",
            "example": 870652
          },
          "purpose": {
            "type": "string",
            "example": "Human-readable Bitcoin addresses"
          }
        }
      },
      "SRC721Protocol": {
        "type": "object", 
        "properties": {
          "name": {
            "type": "string",
            "example": "SRC-721 Recursive NFTs"
          },
          "genesis_block": {
            "type": "integer",
            "example": 792370
          },
          "features": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": ["recursive composition", "layered artwork", "on-chain metadata"]
          }
        }
      },
      "OLGAProtocol": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "example": "OLGA Storage Optimization"
          },
          "launch_block": {
            "type": "integer", 
            "example": 865000
          },
          "cost_reduction": {
            "type": "string",
            "example": "30-95%"
          }
        }
      },
      "EntitiesResponse": {
        "type": "object",
        "properties": {
          "cultural_entities": {
            "type": "object",
            "properties": {
              "kevin": {
                "type": "object",
                "properties": {
                  "symbol": {
                    "type": "string",
                    "example": ""
                  },
                  "significance": {
                    "type": "string",
                    "example": "highest"
                  },
                  "link": {
                    "type": "string",
                    "example": "https://kevinstamp.com"
                  }
                }
              }
            }
          },
          "philosophy": {
            "type": "string",
            "example": "In Lak'ech Ala K'in"
          }
        }
      },
      "ConsensusBlocksResponse": {
        "type": "object",
        "properties": {
          "genesis_blocks": {
            "type": "object"
          },
          "consensus_cutoffs": {
            "type": "object"
          },
          "feature_activations": {
            "type": "object"
          },
          "ai_guidance": {
            "type": "object",
            "properties": {
              "critical_blocks_for_llms": {
                "type": "array",
                "items": {
                  "type": "integer"
                },
                "example": [779652, 788041, 792370, 793068, 796000, 865000, 870652]
              },
              "common_mistakes": {
                "type": "object",
                "example": {
                  "796000_is_not_enhancement": "Block 796,000 is NOT a protocol enhancement - it's the Counterparty SRC-20 cutoff"
                }
              }
            }
          }
        }
      },
      "SchemaResponse": {
        "type": "object",
        "properties": {
          "@context": {
            "type": "string",
            "example": "https://schema.org"
          },
          "@type": {
            "type": "string",
            "example": "TechArticle"
          },
          "name": {
            "type": "string",
            "example": "Bitcoin Stamps Documentation"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Core Data",
      "description": "Primary structured data endpoints for AI consumption"
    },
    {
      "name": "Consensus Data", 
      "description": "Bitcoin Stamps consensus rules and block milestones"
    },
    {
      "name": "Structured Data",
      "description": "Schema.org markup and semantic data"
    }
  ]
}