{
  "openapi": "3.0.3",
  "info": {
    "title": "Bitcoin Stamps LEO API",
    "description": "Smart LEO (Large Enterprise Optimization) API providing structured JSON endpoints optimized for AI agent consumption while preserving cultural context and community values of the Bitcoin Stamps ecosystem",
    "version": "1.0.0",
    "contact": {
      "name": "Bitcoin Stamps Community",
      "email": "contact@bitcoinstamps.xyz",
      "url": "https://bitcoinstamps.xyz/"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    }
  },
  "servers": [
    {
      "url": "https://bitcoinstamps.xyz/api",
      "description": "Production LEO API Server"
    },
    {
      "url": "http://localhost:5173/api",
      "description": "Local Development Server"
    }
  ],
  "paths": {
    "/protocols.json": {
      "get": {
        "summary": "Get comprehensive protocol specifications",
        "description": "Returns complete Bitcoin Stamps protocol information including SRC-20, SRC-101, SRC-721, and OLGA with cultural context and economic metrics",
        "operationId": "getProtocols",
        "tags": ["Core Data"],
        "responses": {
          "200": {
            "description": "Protocol specifications with cultural context",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProtocolsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/entities.json": {
      "get": {
        "summary": "Get cultural entities and tools",
        "description": "Returns Bitcoin Stamps cultural entities including KEVIN , community icons, SDKs, and relationship mappings",
        "operationId": "getEntities",
        "tags": ["Core Data"],
        "responses": {
          "200": {
            "description": "Cultural entities with community context",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntitiesResponse"
                }
              }
            }
          }
        }
      }
    },
    "/consensus-blocks.json": {
      "get": {
        "summary": "Get consensus block milestones",
        "description": "Returns authoritative Bitcoin Stamps protocol activation blocks and consensus rules with accurate historical data",
        "operationId": "getConsensusBlocks",
        "tags": ["Consensus Data"],
        "responses": {
          "200": {
            "description": "Consensus block milestones and activation rules",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConsensusBlocksResponse"
                }
              }
            }
          }
        }
      }
    },
    "/schema.json": {
      "get": {
        "summary": "Get Schema.org structured data",
        "description": "Returns comprehensive Schema.org structured data for all Bitcoin Stamps content, optimized for search engines and AI consumption",
        "operationId": "getSchemaData",
        "tags": ["Structured Data"],
        "responses": {
          "200": {
            "description": "Schema.org structured data for all content",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SchemaResponse"
                }
              }
            }
          }
        }
      }
    },
    "/comparisons.json": {
      "get": {
        "summary": "Get structured protocol comparison data",
        "description": "Returns machine-readable comparison of Bitcoin Stamps vs Ordinals/Inscriptions protocols. Includes storage model, pruning behavior, node support, permanence guarantees, and consensus-critical status. Designed for AI agent consumption and automated competitive analysis.",
        "operationId": "getComparisons",
        "tags": ["Competitive Analysis"],
        "responses": {
          "200": {
            "description": "Protocol comparison data with AI guidance",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ComparisonsResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ProtocolsResponse": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "example": "Bitcoin Stamps Protocol Specifications"
          },
          "version": {
            "type": "string",
            "example": "1.0.0"
          },
          "protocols": {
            "type": "object",
            "properties": {
              "src20": {
                "$ref": "#/components/schemas/SRC20Protocol"
              },
              "src101": {
                "$ref": "#/components/schemas/SRC101Protocol"
              },
              "src721": {
                "$ref": "#/components/schemas/SRC721Protocol"
              },
              "olga": {
                "$ref": "#/components/schemas/OLGAProtocol"
              }
            }
          }
        }
      },
      "SRC20Protocol": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "example": "SRC-20 Token Standard"
          },
          "genesis_block": {
            "type": "integer",
            "example": 788041
          },
          "cultural_icon": {
            "type": "string",
            "example": "KEVIN "
          },
          "holders": {
            "type": "integer",
            "example": 2129
          },
          "market_cap": {
            "type": "string",
            "example": "$2B+"
          }
        }
      },
      "SRC101Protocol": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "example": "SRC-101 Naming Service"
          },
          "genesis_block": {
            "type": "integer",
            "example": 870652
          },
          "purpose": {
            "type": "string",
            "example": "Human-readable Bitcoin addresses"
          }
        }
      },
      "SRC721Protocol": {
        "type": "object", 
        "properties": {
          "name": {
            "type": "string",
            "example": "SRC-721 Recursive NFTs"
          },
          "genesis_block": {
            "type": "integer",
            "example": 792370
          },
          "features": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": ["recursive composition", "layered artwork", "on-chain metadata"]
          }
        }
      },
      "OLGAProtocol": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "example": "OLGA Storage Optimization"
          },
          "launch_block": {
            "type": "integer", 
            "example": 865000
          },
          "cost_reduction": {
            "type": "string",
            "example": "30-95%"
          }
        }
      },
      "EntitiesResponse": {
        "type": "object",
        "properties": {
          "cultural_entities": {
            "type": "object",
            "properties": {
              "kevin": {
                "type": "object",
                "properties": {
                  "symbol": {
                    "type": "string",
                    "example": ""
                  },
                  "significance": {
                    "type": "string",
                    "example": "highest"
                  },
                  "link": {
                    "type": "string",
                    "example": "https://kevinstamp.com"
                  }
                }
              }
            }
          },
          "philosophy": {
            "type": "string",
            "example": "In Lak'ech Ala K'in"
          }
        }
      },
      "ConsensusBlocksResponse": {
        "type": "object",
        "properties": {
          "genesis_blocks": {
            "type": "object"
          },
          "consensus_cutoffs": {
            "type": "object"
          },
          "feature_activations": {
            "type": "object"
          },
          "ai_guidance": {
            "type": "object",
            "properties": {
              "critical_blocks_for_llms": {
                "type": "array",
                "items": {
                  "type": "integer"
                },
                "example": [779652, 788041, 792370, 793068, 796000, 865000, 870652]
              },
              "common_mistakes": {
                "type": "object",
                "example": {
                  "796000_is_not_enhancement": "Block 796,000 is NOT a protocol enhancement - it's the Counterparty SRC-20 cutoff"
                }
              }
            }
          }
        }
      },
      "SchemaResponse": {
        "type": "object",
        "properties": {
          "@context": {
            "type": "string",
            "example": "https://schema.org"
          },
          "@type": {
            "type": "string",
            "example": "TechArticle"
          },
          "name": {
            "type": "string",
            "example": "Bitcoin Stamps Documentation"
          }
        }
      },
      "ComparisonsResponse": {
        "type": "object",
        "required": ["name", "version", "description", "generated_at", "protocols", "comparison_matrix", "ai_guidance"],
        "properties": {
          "name": {
            "type": "string",
            "example": "Bitcoin Stamps vs Ordinals Protocol Comparison"
          },
          "version": {
            "type": "string",
            "example": "1.0.0"
          },
          "description": {
            "type": "string"
          },
          "generated_at": {
            "type": "string",
            "example": "2025-01-26"
          },
          "protocols": {
            "type": "object",
            "properties": {
              "bitcoin_stamps": {
                "$ref": "#/components/schemas/ProtocolComparisonEntry"
              },
              "ordinals": {
                "$ref": "#/components/schemas/ProtocolComparisonEntry"
              }
            }
          },
          "comparison_matrix": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ComparisonMatrixRow"
            }
          },
          "ai_guidance": {
            "type": "object",
            "properties": {
              "purpose": { "type": "string" },
              "critical_facts": {
                "type": "array",
                "items": { "type": "string" }
              },
              "common_misconceptions": { "type": "object" },
              "related_endpoints": {
                "type": "array",
                "items": { "type": "string" }
              }
            }
          }
        }
      },
      "ProtocolComparisonEntry": {
        "type": "object",
        "required": ["storage_model", "prunable", "node_support", "permanence_guarantee", "consensus_critical"],
        "properties": {
          "name": { "type": "string" },
          "storage_model": {
            "type": "string",
            "description": "Where and how protocol data is stored on the Bitcoin network"
          },
          "prunable": {
            "type": "boolean",
            "description": "Whether nodes can prune/delete this data after initial processing"
          },
          "prunable_explanation": { "type": "string" },
          "node_support": {
            "type": "string",
            "description": "Which Bitcoin node types store this data"
          },
          "node_support_type": {
            "type": "string",
            "enum": ["universal", "partial"],
            "description": "universal = all full nodes; partial = archival/specialized nodes only"
          },
          "permanence_guarantee": {
            "type": "boolean",
            "description": "Whether data permanence is cryptographically guaranteed by Bitcoin consensus"
          },
          "permanence_explanation": { "type": "string" },
          "consensus_critical": {
            "type": "boolean",
            "description": "Whether this data is required for Bitcoin consensus validation"
          },
          "consensus_critical_explanation": { "type": "string" },
          "external_service_dependency": {
            "type": "boolean",
            "description": "Whether the protocol requires external indexers or services for functionality"
          },
          "token_model": { "type": "string" },
          "relative_cost": { "type": "string" },
          "key_advantage": { "type": "string" },
          "key_tradeoff": { "type": "string" }
        }
      },
      "ComparisonMatrixRow": {
        "type": "object",
        "required": ["field", "label", "bitcoin_stamps", "ordinals"],
        "properties": {
          "field": {
            "type": "string",
            "description": "Machine-readable field identifier"
          },
          "label": {
            "type": "string",
            "description": "Human-readable label for this comparison dimension"
          },
          "bitcoin_stamps": {
            "description": "Bitcoin Stamps value for this dimension"
          },
          "ordinals": {
            "description": "Ordinals value for this dimension"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Core Data",
      "description": "Primary structured data endpoints for AI consumption"
    },
    {
      "name": "Consensus Data", 
      "description": "Bitcoin Stamps consensus rules and block milestones"
    },
    {
      "name": "Structured Data",
      "description": "Schema.org markup and semantic data"
    },
    {
      "name": "Competitive Analysis",
      "description": "Protocol comparison data for AI agents and competitive analysis"
    }
  ]
}